<h2> Employee List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Employee Id </th>
            <th> Employee Name </th>
            <th> Department Name </th>
            <th> Course Name </th>
        </tr>
    </thead>
    <tbody>
      <ng-container *ngFor = "let employee of employees">
        <tr *ngFor = "let courses of employee.department.course" >
          <td> {{ employee.id }} </td>
          <td> {{ employee.employeeName }} </td>
          <td > {{ employee.department.departmentName }} </td>
           <td> {{ courses.courseName}} </td>
      </tr>
      </ng-container>

    </tbody>
</table>
